.show.container
  .row
    .col-md-6.col-md-offset-3
      %h1= "Battleship Game: #{@game.id}"

  .row
    %h3= "Shots: #{@game.shots}"

    .row
      .col-md-8.col-md-offset-2
        .row
          - @game.cells.each do |cell|
            .col-md-1-2
              %p.game_cell
                = cell.status
