.show.container
  .row
    .col-md-6.col-md-offset-3
      %h1= "Battleship Game: #{@game.id}"

  .row
    %h3= "Shots: #{@game.shots} Score: #{@game.score}"

    .row
      .col-md-8.col-md-offset-2
        .row
          - @game.cells.each do |cell|
            .col-md-1-2
              %p.game_cell
                = link_to cell.status, fire_game_path(cell_id: cell.id), method: :put, class: 'btn'
