!!! 5
%html
%head
  %title Battleship
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body

.nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand Battleship
    %ul.nav.navbar-nav.navbar-right
      %li
        - if user_signed_in?
          %a.navbar-link Log Out

%p.notice
  = notice
%p.alert
  = alert

= yield
